@font-face {
    font-family: Oswald;  font-style: normal;  font-weight:normal;
    src:url(fonts/Oswald.woff) format('woff');
}
@font-face {
    font-family: Raleway;  font-style: normal;  font-weight:normal;
    src:url(fonts/Raleway.woff2) format('woff2');
}
#titul_gral p{
    margin-top: 5%;
    font-size: 32px;
    color: #595959;
    font-family: Oswald, serif;
    text-shadow: -4px 1px 0 #dadada;
    line-height: 10px;
}
#descrip_gral{
    color: #999;
    font-family: Raleway, serif;
    font-size: 13px;
}
#add_form {
    margin-top: 40px;
}
#blok_datos p{
    color: #606060 !important;
    font-size: 18px;
    font-family: Oswald, serif;
    border-bottom: 1px solid #dadada;
    margin-top: 20px;
}
#blok_datos span{
    color: #07c !important;
}
.block_search{
    margin-top: 10px;
}
.icon_search, .icon_clear{
    background: #f04124 !important;
    padding: 10px 20px; color: #ffffff;
    position:relative;
    left:-28px;
    margin-right:5px;
}
#add_form b{
    color: #f04124;
    font-size: 16px;
}
label{
    color: #999 !important;
    font-weight: bold !important;
    font-family: Helvetica, serif;
}
.div_genero span:nth-child(2) {
    color: #f04124;
}
.div_genero:nth-child(3) {
    color: #323fff;
}

.div_rows p{
    background: #f2f2f2;
    margin-bottom:5px;
    border-bottom:1px solid #07c;
    font-family: Helvetica, serif;
    color: #595959;
}
#rows_result p:hover{
    font-weight: bold;
}
#rows_result span:hover{
    opacity: 0.5;
    fill-opacity: 0.5;
    -moz-opacity: 0.5;
}
#rows_result b{
    font-family: Oswald, serif;
    font-size: 16px;
    color: #f04124;
    opacity: 0.5;
    padding: 5px 10px 5px 10px;
}
#rows_result b::after{
    content: '.  ';
}
.bottom_accion{
    background: #07c;
    padding: 5px 15px 5px 15px;
    color: #ffffff;
}
#error_edit p{
    font-family: Helvetica, serif;
    color: #f04124;
}
.ui-dialog{
    z-index: 99999 !important;
}
.footer_php{
    padding-top: 60px;
}
.text_footer{
    font-size: 12px !important;
    color: #999;
    font-family: Helvetica, serif;
}
